.header{
  position: relative;
}
.logo1{
  color:$white;
  font-size: 60px;
  line-height: 60px;
}
.navbar {
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    padding: 0 45px;
  }
  .navbar-brand{
    height:40px;
    width: 146px;
    margin: 15px 15px;
    background:url("../images/public/logo1.png") center center no-repeat;
    background-size: cover;
  }
}

.navbar-nav {
  margin-bottom: 0;
  margin-top:0;
  > li > a {
    padding:0 20px;
    @media (min-width: $screen-sm-min) {
      line-height: 70px;
    }
    @media (max-width: $screen-xs-max) {
      line-height: 50px;
    }
  }
}
// Default navbar
.navbar-default {
  background:none;
  @media (max-width: $screen-xs-max) {
    background-color: transparent;
    .navbar-nav {
      top: 100px;
      height: 60%;
      position: relative;
      > li > a {
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        color: $opacityWhite;
        &:hover,
        &:focus {
          background:none;
          color: $white;
        }
      }
      > .active > a {
        color: $white;
        background:none;
        &:hover,
        &:focus {
          background:none;
          color: $white;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background:none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-active-color;
          background:none;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }
  }
  border:none;

  .nav-toggle{
    span{
      &,&:before,&:after{
        background: #fff;
      }
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }
}
// Default navbar
.navbar-default-blue {
  background:white;
  box-shadow: 0 5px 1em rgba(0,0,0,0.5);
  @media (max-width: $screen-xs-max) {
    background-color: $white;
    .navbar-nav {
      top: 100px;
      height: 60%;
      position: relative;
      > li > a {
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        color: $opacityWhite;
        &:hover,
        &:focus {
          background:none;
          color: $white;
        }
      }
      > .active > a {
        color: $white;
        background:none;
        &:hover,
        &:focus {
          background:none;
          color: $white;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-blue-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-hover-color;
          background:none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-active-color;
          background:none;
        }
      }

    }
  }
  border:none;
  .navbar-collapse,
  .navbar-form {
    border:none;
  }

  .nav-toggle{
    span{
      &,&:before,&:after{
        background: $blue;
      }
    }
  }
}
.navbar-collapse{
  position: relative;
  max-height: 100%!important;
  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2,84,153,0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    &.in{
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      z-index: 1002;
    }
  }
}
.nav-toggle {
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 26px;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0;
    cursor: pointer;
    span{
      &,&:before,&:after{
        content: '';
        position: absolute;
        display: block;
        width: 35px;
        height: 5px;
        border-radius: 1px;
        cursor: pointer;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
      }
      &:before{
        top:-10px;
      }
      &:after{
        bottom:-10px;
      }
    }
    &.active{
      span{
        background-color: transparent;
        &:before{
          top:0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:after{
          top: 10px;
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }

}
//marker
.marker{
  position: absolute;
  bottom:0;
  height: 3px;
  left: 0;
  background:none;
  background-color: $white;
  -webkit-transition-property:left;
  transition-property: left;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
